@import 'variables';
@import 'partial';
@import 'code';
@import 'node';
@import 'explorer';
@import 'button';


.tree-container {
  @include flex(column);

  .tree-header {
    @include flex(column, space-between, center);
    border-bottom: 1px solid white;
    margin-bottom: 8px;

    .view-controls {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .tree--root-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}



.list-unstyled {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}